@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* || VARIABLES */
/* || FUNCTIONS */
/* || HEADER */
.header {
  align-items: center;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  height: 65px;
  justify-content: center;
  padding: 20px 0 15px 0;
  position: relative;
}
.header__back {
  color: #000;
  display: none;
  left: 20px;
  position: absolute;
}
.header__back--on {
  display: inline;
}
.header__logo {
  max-height: 100%;
  max-width: 45%;
}

/* || LOCATION */
.location {
  background-color: #ebebeb;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 700;
  gap: 20px;
  justify-content: center;
  padding: 15px 0 15px 0;
}

/* || INTRO */
.intro {
  background-color: whitesmoke;
  font-family: "Roboto", sans-serif;
  padding: 40px 30px 50px 30px;
  text-align: center;
}
.intro__heading {
  font-size: 26px;
  margin-top: 0;
}
.intro__paragraph {
  font-size: 18px;
  font-weight: 300;
  margin: 40px 0 30px 0;
}
.intro__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
  padding: 16px 26px 16px 26px;
}

/* || HOW-TO */
.how-to {
  font-family: "Roboto", sans-serif;
  padding: 40px 20px 50px 20px;
}
.how-to__heading {
  margin: 0 0 25px 0;
}
.how-to__card {
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 24px 14px;
  padding: 30px 0 25px 30px;
  position: relative;
}
.how-to__card--bg-color {
  background-color: hsl(267.3134328358, 65.6862745098%, 95%);
}
.how-to__step {
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 25px;
  left: -12.5px;
  padding: 5px 0 0 0;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 25px;
}
.how-to__icon {
  color: #8c8c8c;
  margin-left: 5px;
  width: 23px;
}
.how-to__icon--color {
  color: #9356DC;
}
.how-to__instruction {
  font-weight: 700;
  margin-left: 20px;
}

/* || RESTAURANTS */
.restaurants {
  background-color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  font-family: "Roboto", sans-serif;
  padding: 40px 20px 50px 20px;
}
.restaurants__heading {
  flex: 1 0 100%;
  margin: 0 0 25px 0;
}
.restaurants__card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex: 0 1 100%;
  flex-flow: row wrap;
  margin: 0 0 25px 0;
  overflow: hidden;
  position: relative;
}
.restaurants__img-wrap {
  aspect-ratio: 16/9;
  flex: 0 1 100%;
  overflow: hidden;
}
.restaurants__img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.restaurants__info {
  align-items: center;
  display: flex;
  flex: 0 1 100%;
  justify-content: space-between;
  padding: 15px 25px 15px 15px;
}
.restaurants__info h3 {
  margin: 0 0 10px 0;
}
.restaurants__info p {
  margin: 0;
}
.restaurants__new {
  background-color: #99E2D0;
  border-radius: 3px;
  color: #1b6150;
  display: none;
  font-size: 14px;
  font-weight: 400;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 15px;
  width: 80px;
}
.restaurants__new--on {
  display: block;
}

/* || FOOTER */
.footer {
  background-color: #353535;
  color: #FFF;
  padding: 5px 20px 15px 20px;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer__links {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}
.footer__links a {
  color: #FFF;
}
.footer__links i {
  width: 15px;
}
.footer__links span {
  padding-left: 5px;
}

/*# sourceMappingURL=style.css.map */
