@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap");
/* || VARIABLES */
/* || MIXINS */
/* || FUNCTIONS */
/* || ANIMATIONS */
@keyframes card-load-anim {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes page-load-anim {
  0%, 100% {
    opacity: 1;
    z-index: 1000;
  }
}
@keyframes bounce-anim {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
/* || INITIAL */
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* || HEADER */
.header {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  position: relative;
}
.header__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 0 15px 0;
  position: relative;
}
.header__back {
  color: #000;
  left: 20px;
  position: absolute;
}
.header__logo {
  max-height: 100%;
  max-width: 45%;
}

/* || LOCATION */
.location {
  background-color: #ebebeb;
  display: flex;
  font-weight: 700;
  gap: 20px;
  justify-content: center;
  padding: 15px 0 15px 0;
}

/* || INTRO */
.intro {
  background-color: whitesmoke;
  padding: 40px 30px 50px 30px;
  text-align: center;
}
.intro__paragraph {
  font-size: 18px;
  font-weight: 300;
  margin: 40px 0 30px;
}
.intro__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
  padding: 16px 26px 16px 26px;
  position: relative;
  z-index: 1;
}
.intro__btn:hover {
  cursor: pointer;
}
.intro__btn:hover::after {
  opacity: 1;
}
.intro__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 250ms ease-out;
  z-index: -1;
}

/* || HOW-TO */
.how-to {
  background-color: #FFF;
}
.how-to__wrap {
  padding: 40px 20px 50px 20px;
}
@media screen and (min-width: 576px) {
  .how-to__wrap {
    margin: 0 auto;
    max-width: 425px;
  }
}
.how-to__heading {
  margin-bottom: 25px;
}
@media screen and (min-width: 576px) {
  .how-to__heading {
    text-align: center;
  }
}
.how-to__card {
  background-color: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  margin: 0 0 24px 14px;
  padding: 30px 0 25px 30px;
  position: relative;
}
.how-to__card--bg-color {
  background-color: hsl(267.3134328358, 65.6862745098%, 95%);
}
.how-to__step {
  background-color: #9356DC;
  border-radius: 50%;
  color: #FFF;
  display: inline-block;
  height: 25px;
  left: -12.5px;
  padding: 5px 0 0 0;
  position: absolute;
  text-align: center;
  top: 25px;
  width: 25px;
}
.how-to__icon {
  color: #8c8c8c;
  margin-left: 5px;
  width: 23px;
}
.how-to__icon--color {
  color: #9356DC;
}
.how-to__instruction {
  font-weight: 700;
  margin-left: 20px;
}

/* || RESTAURANTS */
.restaurants {
  background-color: whitesmoke;
  /*
    &__fav {
      align-items: center;
      display: flex;
      justify-content: center;
      margin: 0 10px 0 0;
      position: relative;
      i {
        position: absolute;
        &:last-child {
          color: $color-secondary;
          transition: color 250ms;
        }
        &:hover {
          cursor: pointer;
          color: $color-secondary;
        }
      }
    }
  */
}
.restaurants__wrap {
  display: grid;
  gap: 25px;
  grid-auto-rows: 1fr;
  grid-template: minmax(1px, auto)/1fr;
  padding: 40px 20px 50px 20px;
  margin: 0 auto;
  max-width: 1200px;
}
@media screen and (min-width: 768px) {
  .restaurants__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .restaurants__wrap {
    grid-template-columns: repeat(3, 1fr);
  }
}
.restaurants__heading {
  grid-column: 1/-1;
}
@media screen and (min-width: 576px) {
  .restaurants__heading {
    text-align: center;
  }
}
.restaurants__card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  flex-flow: row wrap;
  overflow: hidden;
  position: relative;
}
.restaurants__card a {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.restaurants__card a:hover {
  cursor: pointer;
}
.restaurants__img-wrap {
  aspect-ratio: 16/9;
  flex: 0 1 100%;
  overflow: hidden;
}
.restaurants__img-wrap img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.restaurants__info {
  align-items: center;
  display: flex;
  flex: 0 1 100%;
  justify-content: space-between;
  padding: 15px 25px 15px 15px;
}
.restaurants__info h3 {
  margin-bottom: 10px;
}
.restaurants__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  position: relative;
}
.restaurants__icon i {
  position: absolute;
}
.restaurants__icon i:hover {
  cursor: pointer;
  opacity: 1;
}
.restaurants__icon--anim {
  color: #FF79DA;
  opacity: 0;
  transition: opacity 250ms ease-out;
}
.restaurants__new {
  background-color: #99E2D0;
  border-radius: 3px;
  color: #1b6150;
  display: none;
  font-size: 14px;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 15px;
  width: 80px;
}
.restaurants__new--on {
  display: block;
}

/* || FOOTER */
.footer {
  background-color: #353535;
}
.footer__wrap {
  color: #FFF;
  padding: 5px 20px 15px 20px;
  margin: auto;
  max-width: 1200px;
}
.footer__heading {
  font-family: "Shrikhand", cursive;
  font-size: 18px;
  font-weight: 400;
}
.footer__links {
  line-height: 1.5;
  font-weight: 300;
}
.footer__links a {
  color: #FFF;
}
.footer__links i {
  width: 15px;
}
.footer__links span {
  padding-left: 5px;
}

/* || RESTAURANT IMG */
.restaurant-img {
  max-height: 500px;
}
@media screen and (min-width: 768px) {
  .restaurant-img {
    margin: 0 auto;
    max-width: 1200px;
  }
}
.restaurant-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media screen and (min-width: 992px) {
  .restaurant-img img {
    object-position: 0 -55px;
  }
}

/* || MENU */
.menu {
  background-color: whitesmoke;
  border-radius: 50px 50px 0 0;
  margin: -50px auto 0;
  max-width: 1200px;
  position: relative;
  z-index: 1;
}
.menu__wrap {
  display: flex;
  flex-flow: row wrap;
  padding: 40px 20px 50px 20px;
}
@media screen and (min-width: 768px) {
  .menu__wrap {
    margin: 0 auto;
    max-width: 66%;
  }
}
.menu__heading {
  align-items: center;
  display: flex;
  flex: 0 1 100%;
  justify-content: space-between;
  margin-bottom: 15px;
}
.menu__name {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  margin-right: 20px;
}
@media screen and (min-width: 768px) {
  .menu__name {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .menu__name {
    font-size: 34px;
  }
}
.menu__icon {
  display: flex;
  justify-content: center;
  margin-right: 30px;
  max-height: 100%;
  position: relative;
}
.menu__icon i {
  position: absolute;
}
.menu__icon i:hover {
  cursor: pointer;
  opacity: 1;
}
.menu__icon--anim {
  color: #FF79DA;
  opacity: 0;
  transition: opacity 250ms ease-out;
}
.menu__btn {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  color: #FFF;
  margin: 20px auto 0;
  padding: 16px 26px 16px 26px;
  position: relative;
  width: 175px;
  z-index: 1;
}
.menu__btn:hover {
  cursor: pointer;
}
.menu__btn:hover::after {
  opacity: 1;
}
.menu__btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 50px;
  opacity: 0;
  transition: opacity 250ms ease-out;
  z-index: -1;
}

/* || COURSE */
.course {
  flex: 0 1 100%;
  width: 100%;
}
.course__name {
  font-size: 18px;
  font-weight: 300;
  animation: card-load-anim 1000ms ease-out backwards;
}
.course__name::after {
  border: 2px solid #99E2D0;
  content: "";
  display: block;
  margin-top: 5px;
  width: 45px;
}
.course__dish {
  background-color: #FFF;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin: 0 0 20px 0;
  overflow: hidden;
  padding: 15px 15px 15px 15px;
  position: relative;
  animation: card-load-anim 1000ms ease-out backwards;
}
.course__dish:hover .course__price {
  margin-right: 75px;
}
.course__dish:hover .course__icon {
  transform: translateX(-100%);
}
.course__dish:hover .course__icon--rotate {
  transform: rotate(360deg);
}
.course__dish--anim1 {
  animation-delay: 200ms;
}
.course__dish--anim2 {
  animation-delay: 400ms;
}
.course__dish--anim3 {
  animation-delay: 600ms;
}
.course__dish--anim4 {
  animation-delay: 800ms;
}
.course__content {
  overflow: hidden;
}
.course__content h3 {
  margin-bottom: 10px;
}
.course__content p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.course__price {
  align-self: flex-end;
  transition: margin 700ms ease-in-out;
}
.course__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99E2D0;
  color: #FFF;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateX(0);
  transition: transform 700ms ease-in-out;
  right: -75px;
  width: 75px;
}
.course__icon--rotate {
  transform: rotate(0deg);
  transition: transform 700ms ease-in-out;
}

/* || PAGE LOAD ANIMATION */
.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  opacity: 0;
  z-index: -100;
  animation: page-load-anim 1200ms 3;
}
.container__img {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  animation: bounce-anim 1000ms 3 ease-in-out;
}
.container__img:not(:last-child) {
  margin-right: 25px;
}
.container__img--1 {
  background-color: #9356DC;
  animation-delay: 200ms;
}
.container__img--2 {
  background-color: #FF79DA;
  animation-delay: 400ms;
}
.container__img--3 {
  background-color: #99E2D0;
  animation-delay: 600ms;
}

/*# sourceMappingURL=style.css.map */
