// FONTS

// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

$text-font: 'Roboto', sans-serif;
$title-font: 'Shrikhand', cursive;

// Font weights
$fw-thin: 300;
$fw-reg: 400;
$fw-thick: 700;

// COLOURS
$white: #FFF;
$black: #000;

$primary-clr: #9356DC;
$secondary-clr: #FF79DA;
$tertiary-clr: #99E2D0;

$btn-clr: linear-gradient(to bottom right, $secondary-clr, $primary-clr);
$btn-hov-clr: linear-gradient(to bottom right, lighten($secondary-clr, 2%), lighten($primary-clr, 2%));

$general-bg-clr: darken($white, 4%);

// BOX SHADOWS
$header-shadow: 0 0 3px 3px rgba($black, 0.1);
$btn-shadow: 0 4px 8px 0 rgba($black, 0.3);
$btn-hov-shadow: 0 4px 8px 0 rgba($black, 0.4);
$card-shadow: 0 4px 8px 0 rgba($black, 0.1);

// ANIMATIONS

// For keyframe animations
$anim-duration: 1000ms;
$anim-delay: 250ms;
$repeat: 3;

// For loading page
$ball-start-pos: 0;
$bounce-height: -20px;

// For card loading 
$num-cards: 10;
$card-offset: 20px;
$card-end-pos: 0;

// For card icon slide transition
$slide-width: 75px;
$slide-duration: 1100ms;

// For card icon rotate transition
$rotate-duration: 1000ms;
$rotate-delay: 100ms;

// For btn colour change transition
$clr-change-dur: 500ms;

// For restaurant card hover transition
$shadow-trans-dur: 200ms;

// PADDING
$section-pad: 40px 20px 50px 20px;
$card-content-pad: 15px;

// VALUE DESCRIPTOR
$site-max-width: 1200px;

$center: 0 auto;

$circle-border: 50%;

// MEDIA BREAKPOINTS
$breakpoints: (
  sm: 576px,
  md: 768px,
  lg: 992px
);