@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Shrikhand&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  color: #FFF;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* || VARIABLES */
$color-background: #FFF;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

/* || HEADER */
.header {
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding: 25px 0 15px 0;
  position: relative;
  &__logo {
    width: 45%;
  }
}

/* || LOCATION */
.location {
  background-color: darken($color-background, 8);
  display: flex;
  font-family: $font-text;
  font-size: 16px;
  font-weight: 700;
  gap: 20px;
  justify-content: center;
  padding: 15px 0 15px 0;
}

/* || INTRO */
.intro {
  background-color: darken($color-background, 4);
  font-family: $font-text;
  justify-content: center;
  padding: 40px 30px 50px 30px;
  text-align: center;
  &__heading {
    font-size: 26px;
    margin-top: 0;
  }
  &__paragraph {
    font-size: 18px;
    font-weight: 300;
    margin: 40px 0 30px 0;
  }
  &__btn {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    color: #FFF;
    padding: 16px 26px 16px 26px;
  }
}

/* || FOOTER */
.footer {
  background-color: #353535;
  color: #FFF;
  padding: 5px 20px 15px 20px;
  &__heading {
    font-family: $font-title;
    font-size: 18px;
    font-weight: 400;
  }
  &__links{
    line-height: 1.5;
    font-family: $font-text;
    font-size: 16px;
    font-weight: 300;
    i {
      width: 15px;
    }
    span {
      padding-left: 5px;
    }
  }
}