@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Shrikhand&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

/* || VARIABLES */
$white: #FFF;
$black: #000;
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-background: $white;
$font-text: 'Roboto', sans-serif;
$font-title: 'Shrikhand', cursive;

/* || FUNCTIONS */
@function lighter($color) {
  $hue: hue($color);
  $sat: saturation($color);
  $light: 95%;
  $lighter: hsl($hue, $sat, $light);
  
  @return $lighter;
}

/* || HEADER */
.header {
  align-items: center;
  box-shadow: 0 0 3px 3px rgba($black, 0.1);
  display: flex;
  height: 65px;
  justify-content: center;
  padding: 20px 0 15px 0;
  position: relative;
  &__back {
    color: $black;
    display: none;
    left: 20px;
    position: absolute;
    &--on {
      display: inline;
    }
  }
  &__logo {
    max-height: 100%;
    max-width: 45%;
  }
}

/* || LOCATION */
.location {
  background-color: darken($color-background, 8%);
  display: flex;
  font-family: $font-text;
  font-weight: 700;
  gap: 20px;
  justify-content: center;
  padding: 15px 0 15px 0;
}

/* || INTRO */
.intro {
  background-color: darken($color-background, 4%);
  font-family: $font-text;
  padding: 40px 30px 50px 30px;
  text-align: center;
  &__heading {
    font-size: 26px;
    margin-top: 0;
  }
  &__paragraph {
    font-size: 18px;
    font-weight: 300;
    margin: 40px 0 30px 0;
  }
  &__btn {
    background: linear-gradient(to bottom right, $color-secondary, $color-primary);
    border: none;
    border-radius: 50px;
    box-shadow: 0 4px 8px 0 rgba($black, 0.3);
    color: $white;
    padding: 16px 26px 16px 26px;
    transition: box-shadow 450ms;
    &:hover {
      background: linear-gradient(to bottom right, lighten($color-secondary, 3%), lighten($color-primary, 3%));
      box-shadow: 0 4px 10px 0 rgba($black, 0.6);
      cursor: pointer;
    }
  }
}

/* || HOW-TO */
.how-to {
  font-family: $font-text;
  padding: 40px 20px 50px 20px;
  &__heading {
    margin: 0 0 25px 0;
  }
  &__card {
    background-color: darken($color-background, 4%);
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba($black, 0.1);
    margin: 0 0 24px 14px;
    padding: 30px 0 25px 30px;
    position: relative;
    &--bg-color {
      background-color: lighter($color-primary);
    }
  }
  &__step {
    background-color: $color-primary;
    border-radius: 50%;
    color: $white;
    display:inline-block;
    height: 25px;
    left: -12.5px;
    padding: 5px 0 0 0;
    position: absolute;
    text-align: center;
    top: 25px;
    width: 25px;
  }
  &__icon {
    color: darken($color-background, 45%);
    margin-left: 5px;
    width: 23px;
    &--color {
      color: $color-primary;
    }
  }
  &__instruction {
    font-weight: 700;
    margin-left: 20px;
  }
}

/* || RESTAURANTS */
.restaurants {
  background-color: darken($color-background, 4%);
  display: flex;
  flex-flow: row wrap;
  font-family: $font-text;
  padding: 40px 20px 50px 20px;
  &__heading {
    flex: 1 0 100%;
    margin: 0 0 25px 0;
  }
  &__card {
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba($black, 0.1);
    display: flex;
    flex: 0 1 100%;
    flex-flow: row wrap;
    margin: 0 0 25px 0;
    overflow: hidden;
    position: relative;
  }
  &__img-wrap {
    aspect-ratio: 16/9;
    flex: 0 1 100%;
    overflow: hidden;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  &__info {
    align-items: center;
    display: flex;
    flex: 0 1 100%;
    justify-content: space-between;
    padding: 15px 25px 15px 15px;
    h3 {
      margin: 0 0 10px 0;
    }
    p {
      margin: 0;
    }
  }
  &__new {
    background-color: $color-tertiary;
    border-radius: 3px;
    color: darken($color-tertiary, 50%);
    display: none;
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 15px;
    width: 80px;
    &--on {
      display: block;
    }
  }
}

/* || FOOTER */
.footer {
  background-color: #353535;
  color: $white;
  padding: 5px 20px 15px 20px;
  &__heading {
    font-family: $font-title;
    font-size: 18px;
    font-weight: 400;
  }
  &__links{
    line-height: 1.5;
    font-family: $font-text;
    font-weight: 300;
    a {
      color: $white;
    }
    i {
      width: 15px;
    }
    span {
      padding-left: 5px;
    }
  }
}